{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{ name }}!</h1>
        <p class="lead">This is your profile page.</p>
        <hr class="my-4">
        <p><strong>Email:</strong> {{ email }}</p>
        <p>You are now logged in.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go to Home</a>
    </div>
</div>
{% endblock %}