{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Register a new investor{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-expand-lg">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/">Robo Investing</a>
    </div>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header">
	<h1>Register with us now!!!!!</h1>
</div>
<div class="col-md-4">
	{{ wtf.quick_form(form) }}

    <!-- Image Section -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/register.jpg') }}" alt="Kaaching Capital" class="responsive-image">
    </div>


</div>

<p>
	-------------------------->
	Already Registered?
	<a href="{{ url_for('login') }}">
	Click here to login
	</a>
</p>

{% endblock %}